@import '../_includes'

body
  //display: flex
  //flex-direction: column
  //justify-content: center
  //align-items: center
  padding: 3% 5%
  text-align: center
  transition: background-color .3s linear
  font-weight: 500
  //background: rgb(131,58,180)
  //background: linear-gradient(-25deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)
  background: rgb(238,60,60)
  background: linear-gradient(-45deg, rgba(238,60,60,1) 0%, rgba(240,151,76,1) 50%, rgba(237,196,51,1) 100%)

strong
  font-weight: 900

.title
  font:
    size: 8rem
    weight: 100

.description strong
  display: block
  margin: 3% 0
  font:
    size: 2rem
    weight: 500

#invalidMessages
  max-width: 500px
  width: 100%
  margin: 3% auto 3% auto
  box-shadow: 1px 0 10px rgba(0,0,0,0.3)
  border-radius: 8px 
  background-color: #ebebeb
  text-align: left
  padding: 1rem 2rem
  display: none

.warning
  color: #ee3c3c
  font-size: 16px
  margin: 20px 0
  padding-bottom: 5px
  border-bottom: 1px solid #ccc
  
  &:last-child 
    margin-bottom: 0

.success 
  color: green

#submitBtn
  display: none